# General
.DS_Store
.vscode/
.idea/
*.log
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Ruby / Rails
API/log/*
!API/log/.keep
API/tmp/
API/storage/*
!API/storage/.keep
API/public/assets
API/.bundle/
API/db/*.sqlite3
API/db/*.sqlite3-journal

# C++
*.o
*.obj
*.out
cpp/crawler/crawler
cpp/crawler/build/
cpp/crawler/test_crawler
cpp/crawler/CMakeCache.txt
cpp/crawler/CMakeFiles/
cpp/crawler/CTestTestfile.cmake
cpp/crawler/Makefile
cpp/crawler/cmake_install.cmake
cpp/crawler/Testing/


# Docker
docker-compose.override.yml
node_modules/
cpp/crawler/src/build/

# CodeQL
_codeql_detected_source_root

# data 
data/crawled_pages/
*.warc.gz
*.html
cpp/crawler/build_test/
